<p><%= autor %></p>
<p/>    
<img src=<%= urlFoto %> height="50" width="50">
<br/>
<br/>
<p><%= profesor %></p>
<p/>    
<img src=<%= urlFotoProfesor %> height="50" width="50">
<br/>
<br/>
<a href="/quizes"> Preguntas </a>

