<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Créditos del Juego Quiz</h2>
    <p><%= autor %></p>
    <p/>    
    <img src="../../images/qjian-small.jpg" height="50" width="50">
    <p/>
    <p/>
    <a href="/quizes/question"> Preguntas </a>
  </body>
</html>

